h1{
    padding-top: 250px;
    text-align: center;
    font-size: 46.5px;
}

body{
    background-image: url("/img/Calculadora-1000x600.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}